* {
    margin:0;
    padding:0;
    gap:0;
}
.container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:repeat(6, 1fr);
    height:100vh;
    width:100vw;
}
.sidebar {
    grid-column: 1/2;
    grid-row:1/7;
    display:flex;
    flex-direction: column;
    background:linear-gradient(50deg, #2563eb, #4f46e5);
    padding:20px;
}
.header {
    grid-column:2/3;
    grid-row:1/2;
    background:linear-gradient(50deg, #4f46e5, #2563eb);
}
.libBody {
    grid-row:2/7;
    grid-column:2/3;
    background:linear-gradient(100deg, #4f46e5, #2563eb);

}
.inputDiv > input, .inputDiv > label {
    display:block;
}
.inputDiv > input {
    padding:20px;
    width:clamp(10vw, 30vw, 40vw);
    border-radius:10px;
    
}
.inputLabel {
    font-size:24px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
.buttonInput {
    display:flex;
    flex-direction:column;
}
#radioRow {
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
}
#radioRow > input, #radioRow > label {
    display:block;
    font-size:22px;
    font-weight:600;
}

#readBeforeText {
    display:flex;
    flex-direction: row;
}
.submitButton, .clearButton {
    padding:20px;
    border-radius:10px;
    width:100px;
}
#buttonDiv {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top:20px;
}

.header {
    font-weight:600;
    font-size:30px;
    text-align: center;
}
.header > h1 {
    color:white;
    }

